<div>
    <!--
    |--------------------------------------------------------------------------|
    | Yellow Path                                                              |
    |--------------------------------------------------------------------------|
    | Un clic sobre la categoría debería enviar un evento al componente padre. |
    |--------------------------------------------------------------------------|
    -->
    <span class="blink-font" *ngFor="let cathegory of categories" (click)="emitCategorySelected(cathegory)">
        {{ cathegory.name }}
    </span>
</div>
